.container {
  max-width: 1024px;
}

header h1 a {
  display: block;
  width: 170px;
  height: 40px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
header h1 .logo-sm {
  display: block;
  width: 115px;
  height: 18px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

main aside a:hover {
  background-color: #eaf0ed;
}
main article .btn-light:hover {
  background: #3f5d45;
  color: #eaf0ed;
}